*.log
*.props
*.ilk
*.ipch
*.lastbuildstate
*.obj
*.pdb
*.vcxproj.FileListAbsolute.txt
*.vcxproj.user
*.write.1u.tlog
*.tlog
moc_*.cpp
*.h.cbt
/src/APlay/x64/Debug/qmake/temp/props.txt
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.VC.db
/src/APlay/x64/Debug/APlay.exe
*.exe.recipe
ui_*.h
*.qmake.stash
*.suo
/src/APlay/x64/
